---
title: Search for posts
layout: default
id: search
toc: false
---

<form class="searchBar" method="get" action="{{ site.nojs-search }}">
	<input type="text" class="input" id="searchInput" name="q" placeholder="Search for posts..." spellcheck="false" autocomplete="off">
	<input type="hidden" name="q" value="site:{{ site.domain }}">
	<button class="button">
		<div class="icon">{% include icon/search-round.svg %}</div>
	</button>
</form>

<div class="searchResults">
	{% for post in site.items %}
	<div class="post">
		<a href="{{ post.url }}" class="nolink block">
			<b class="title">{{ post.title }}</b>
			<p class="subtitle">{{ post.subtitle }}</p>
			<p class="authordate">???</p>
			<input class="keywords" type="hidden" value=""/>
		</a>
		{% include tags.html tags=post.tags %}
	</div>
	{% endfor %}
</div>


