<div class="globalLinks">
  <a href="/" class="indentLevel0 link navbarItem {% if include.page == "index" %}active{% endif %}">
		<div class="inner">
			<div class="icon">{% include icon/home-round.svg %}</div>
			<span class="title">Home</span>
		</div>
	</a>
	<a href="/search" class="indentLevel0 link navbarItem {% if include.page == "search" %}active{% endif %}">
		<div class="inner">
			<div class="icon">{% include icon/search-round.svg %}</div>
			<span class="title">Search for posts</span>
		</div>
	</a>
</div>
