// no floating toc when screen too narrow
@media only screen and (max-width: 450px) {
	aside {
		float: none;
		width: unset;

		border-left: none;
		border-bottom: 1px dashed;
		margin-left: 0px;
	}
}

@media only screen and (prefers-color-scheme: dark) {
	.invert, input, button {
		background-color: #222;
		color: inherit;
	}

	nav .item.active {
		color: inherit;
		background-color: canvas;
		text-decoration: underline;
		font-weight: bold;
	}

	:root {
		--code-comment: #808b9bd9;
		--code-keyword: #d25a76;
		--code-string: #e4a87e;
		--code-number: #fa7d57;
		--code-operator: #da9eff;
	}
}

@media print {
	nav { display: none; }

	.invert {
		background-color: unset;
		color: unset;
	}

	.limitwidth { max-width: 35em; }
}

