// no floating toc when screen too narrow
@media only screen and (max-width: 450px) {
	aside {
		float: none;
		width: unset;

		border-left: none;
		border-bottom: 1px dashed;
		margin-left: 0px;
	}
}

@media only screen and (prefers-color-scheme: dark) {
	nav .item.active {
		text-decoration: underline;
		font-weight: bold;
	}
}

@media print {
	nav { display: none; }

	.invert {
		background-color: unset;
		color: unset;
	}

	.limitwidth { max-width: 35em; }
}

