.searchBar {
	background-color: var(--fg-alt);
	border-radius: 8px;
	padding: 12px;
	margin-bottom: 24px;

	display: flex;
}

.searchBar .input {
	background-color: transparent;
	border: 0;

	color: var(--bg);

	margin-left: 12px;
	flex-grow: 1;
}

.searchBar .input::placeholder {
	font-style: italic;
	opacity: .75;

	color: var(--bg);
}

.searchBar .button {
	margin: 0;
	line-height: 0;
	min-width: unset;
	background-color: var(--bg);
	color: var(--fg-alt) !important;
}

.searchResults .post::after {
	display: none;
}

.searchResults .post {
	display: block;
	border-radius: 8px;

	padding: 12px;
	margin-bottom: 12px;
	background-color: var(--bg-alt);

	color: var(--fg);
}

.searchResults .post .title,
.searchResults .post .subtitle,
.searchResults .post .authordate {
	margin: 4px 0;
}

.searchResults .post .authordate {
	font-style: italic;
	opacity: .75;
}

@media (prefers-color-scheme: light) {
	.searchBar { background-color: var(--fg); }
	.searchBar .button { color: var(--fg) !important; }
}

