
blockquote {
	font-style: italic;
	opacity: .8;
	--color: currentcolor;
}
blockquote::before {
	content: "";
	position: absolute;
	left: 0;
	top: -4px;
	bottom: -4px;
	width: 2px;
	background-color: var(--color);
}
blockquote p {
	margin: 1ex 0;
}
blockquote.admonition {
	font-style: unset;
	opacity: unset;
}
blockquote.admonition .title {
	font-weight: bold;
	color: var(--color);
}

nav, header, footer {
	background-color: var(--bg-1);
	color: var(--fg-1);
}

nav .item.active {
	background-color: var(--bg-0) !important;
	color: var(--fg-0) !important;
}

// only show underline when hovering link
a { text-decoration: none; }
a:hover { text-decoration: underline; }

// separator style
hr {
	display: block;
	border: none;
	border-top: 1px dashed;
}

aside { border-left: 1px dashed; }

pre { border: 1px solid; }

header .title { font-size: 150%; }
footer .title { font-size: 120%; }

.plainlink a,
.plainlink a:visited { color: inherit; }

nav .right a {
	opacity: .75;
	font-style: italic;
}

td, th {
	padding: 0 1ex;
}
table {
	border-color: currentcolor;
	border-spacing: 0;
}

// booktabs tables
table th {
	border-bottom-style: solid; // \midrule
	padding-bottom: .4ex; // \aboverulesep
	border-bottom-width: .05em; // \lightrulewidth
}
table tr:has(th) + tr td {
	padding-top: .65ex; // \belowrulesep
}
table {
	border-top-style: solid; // \toprule
	margin-top: 0; // \abovetopsep
	border-top-width: .08em; // \heavyrulewidth
	padding-top: .65ex; // \belowrulesep

	border-bottom-style: solid; // \bottomrule
	padding-bottom: .4ex; // \aboverulesep
	border-bottom-width: .08em; // \heavyrulewidth
	margin-bottom: 0; // \belowbottomsep
}

.sortcolumn {
	display: list-item;
	list-style: inside;
	list-style-type: disclosure-open;
}

input, button {
	border: none;
	background-color: var(--bg-2);
	color: var(--fg-2);

	box-sizing: content-box;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	padding: 2px 8px;
}
input[type=submit], buttom { cursor: pointer; }

