---
---

// fill width
#posts {
	table-layout: auto;
	width: 100%;
}

// fit date column
#posts td:nth-child(1),
#posts th:nth-child(1) {
	white-space: nowrap;
	width: 1%;
}

// dates with table numerals
#posts td:nth-child(1) { font-feature-settings: "tnum"; }

