<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<meta property='og:site_name' content='{{ page.date }}' />
	<meta property='og:title' content='{{ page.title }}' />
	<meta property='og:description' content='{{ page.subtitle }}' />
	{% if page.post %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
</head>
<body>
	<header class="invert plainlink">
		<div class="limitwidth">
			<span class="title">{{ page.title | smartify }}</span>
		</div>
	</header>
	<nav class="invert plainlink">
		<div class="limitwidth">
			<a href="/" class="item {% if page.id == "index" %}active{% endif %}">home</a>
			<a href="/posts/by-date" class="item {% if page.id == "posts" %}active{% endif %}">posts</a>
			<span class="right">
				{% if page.toc %}<a href="#" class="item">top</a>{% endif %}
				{% if page.post %}<a href="#footer" class="item">bottom</a>{% endif %}
			</span>
		</div>
	</nav>
	<article class="limitwidth content">
		{% if page.toc %}{% toc %}{% endif %}
		{{ content }}
	</article>
	{% if page.post %}
		<footer id="footer" class="invert plainlink">
			<div class="limitwidth">
				<div class="autocolumn">
					<div class="column">
						<span class="title">post info</span>
						<ul>
							<li>last published on {{ page.meta.date | datefmt }}</li>
							<li>written by {{ page.authors | map: 'nick' | sentence_join: 'nobody?' }}</li>
							<li>first published on {{ page.meta.date_initial | datefmt }}</li>
							<li>edited {{ page.meta.edits | plural: 'time' }}</li>
						</ul>
					</div>
					<div class="column">
						<a href="/" class="title">{{ site.domain }}</a>
						<ul>
							<li>version <code>{{ site.data.meta.slug }}</code> (<a href="https://git.pipeframe.xyz/lonkaars/blog">git</a>)</li>
							<li>built {{ site.data.meta.build_date | datefmt }}</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	{% endif %}
</body>
</html>

