<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">
	<meta property='og:site_name' content='{{ site.title }}' />
	<meta property='og:title' content='{{ page.title }}' />
	{% if page.post %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
	<link rel="stylesheet" href="/style.css">
	<noscript><style>.dispjs { display:none; }</style></noscript>
	<script src="/script.js" defer></script>
</head>
<body>
	<header class="plainlink">
		<div class="limitwidth">
			<span class="title">{{ page.title | smartify }}</span>
		</div>
	</header>
	<nav class="plainlink">
		<div class="limitwidth">
			<a href="/" class="item {% if page.id == "index" %}active{% endif %}">{% i18n home %}</a>
			<a href="/posts/by-date" class="item {% if page.id == "posts" %}active{% endif %}">{% i18n posts %}</a>
			<a href="/tags" class="item {% if page.id == "tags" %}active{% endif %}">{% i18n tags %}</a>
			<span class="right">
				{% if page.toc %}<a href="#" class="item">{% i18n top %}</a>{% endif %}
				{% if page.post %}<a href="#footer" class="item">{% i18n bottom %}</a>{% endif %}
			</span>
		</div>
	</nav>
	<article class="limitwidth content">
		{% if page.toc %}{% toc %}{% endif %}
		{% if page.post %}{% include outdated.html date=page.date %}{% endif %}
		{{ content }}
	</article>
	{% if page.post %}
		{% include footer.html %}
	{% endif %}
</body>
</html>

