<!DOCTYPE html>
<html lang='{{ page.lang }}'>
<head>
	{% include head.html %}
	<title>{{ site.title }}</title>
	{% include opengraph.html %}
</head>
<body>
	<div class='centeredPage'>
		<div class='titleWrapper'>
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}<p class='subtile'>{{ page.subtitle }}</p>{% endif %}
			{% if page.tags %}{% include tags.html tags=page.tags %}{% endif %}
		</div>
		<div class='navAreaWrapper'>
			<div class='sticky'>
				{% include navbar.html page="index" %}
				<!-- <Chapters chapters={props.meta.chapters} /> -->
			</div>
		</div>
		<!-- <MobileNavbar /> -->
		<div class='contentWrapper'>
			{{ content }}
			{% if site.rss != nil %}
				<p>An rss/atom feed of this blog is also available:</p>
				<pre>{{ site.rss.url }}</pre>
			{% endif %}
			<hr/>
			<h2>Recent posts</h2>
			<div class="recentPosts">
				{% for post in site.posts limit:4 %}
					<div class="postCard">
						<a href="{{ post.url }}">
							<img src="{{ post.cover }}" alt="post cover" class="cover">
							<h2 class="title">{{ post.title }}</h2>
							<strong class="subtitle">{{ post.subtitle }}</strong>
						</a>
						{% include tags.html tags=post.tags %}
					</div>
				{% endfor %}
			</div>
			<div>
				<a href="/search" class="button">Go to all posts</a>
			</div>
		</div>
	</div>
</body>
</html>
