<!DOCTYPE html>
<html lang='{{ page.lang }}'>
<head>
	{% include head.html %}
	{% include title.html %}
	{% include opengraph.html %}
</head>
<body>
	<div class='centeredPage'>
		<div class='titleWrapper'>
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}<p class='subtile'>{{ page.subtitle }}</p>{% endif %}
			{% if page.tags %}{% include tags.html tags=page.tags %}{% endif %}
		</div>
		<div class='navAreaWrapper'>
			<div class='sticky'>
				{% include navbar.html page="post" %}
				{% include toc.html content=content %}
			</div>
		</div>
		<!-- <MobileNavbar /> -->
		<div class='contentWrapper'>
			{{ content }}
		</div>
	</div>
</body>
</html>
