<!DOCTYPE html>
<html lang='{{ page.lang }}'>
<head>
	{% include head.html %}
	{% include title.html %}
	{% include opengraph.html %}
</head>
<body>
	<div className='centeredPage'>
		<div className='titleWrapper'>
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}<p className='subtile'>{{ page.subtitle }}</p>{% endif %}
			{% if page.tags %}{% include tags.html tags=page.tags %}{% endif %}
		</div>
		<div className='navAreaWrapper'>
			<div className='sticky'>
				<!-- <Navbar /> -->
				<!-- <Chapters chapters={props.meta.chapters} /> -->
			</div>
		</div>
		<!-- <MobileNavbar /> -->
		<div className='contentWrapper'>
			{{ content }}
		</div>
	</div>
</body>
</html>
