.button {
	background-color: var(--fire-opal);
	color: var(--fg) !important;

	padding: 12px;
	min-width: 200px;
	text-align: center;
	width: min-content;

	display: block !important;
	margin: 0 auto var(--page-margins) auto;

	font-size: 1rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	
	border-radius: 8px;
	border: 0;

	cursor: pointer;
}

a.button { min-width: calc(200px - 2 * 12px); }
a.button::after { display: none; }

