:root {
	--almond: #F4DEC9;
	--heliotrope-gray: #A69CAC;
	--purple-navy: #474973;
	--oxford-blue: #161B33;
	--xiketic: #0D0C1A;
	--magnolia: #EFE9F4;

	--fire-opal: #EE6352;
	--cyan-process: #08B2E3;
	--forest-green-crayola: #57A773;

	--bg: var(--xiketic);
	--fg: var(--almond);
}

@media (prefers-color-scheme: light) {
	:root {
		--heliotrope-gray: #dbdbe6;
		--purple-navy: #989abb;

		--fire-opal: #ba3321;
		--cyan-process: #397889;
		--forest-green-crayola: #376848;

		--bg: var(--magnolia);
		--fg: var(--xiketic);
	}
}

