html, body {
	padding: 0;
	margin: 0;

	background-color: var(--bg);
	color: var(--fg);

	hyphens: auto;
}

.contentWrapper a {
	color: var(--links);
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.contentWrapper a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	transition: width;
	transition-duration: 150ms;
	background-color: var(--links);
}

.contentWrapper a:hover::after {
	width: 100%;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 4px solid var(--bg);
}

:focus { outline: none; }

li {
	margin-bottom: 6px;
}

