.navbarItem .inner {
	background-color: var(--oxford-blue);
	color: var(--fg);

	padding: 8px;
	border-radius: 8px;

	transition-property: background-color, color;
	transition-duration: .15s;

	position: relative;
}

.navbarItem {
	text-decoration: none;
	display: block;
}

.navbarItem .icon { display: inline-block; }

.navbarItem .icon .collapseIcon {
	transform: rotate(0deg);
	transition-property: transform;
	transition-duration: .3s;
}
.navbarItem .icon .collapseIcon.collapsed {
	transform: rotate(-90deg);
}

.navbarItem .icon,
.navbarItem .title {
	cursor: pointer;
}

.navbarItem.indentLevel0 { margin-bottom: 12px; }

.navbarItem.active .inner,
.navbarItem.link:hover .inner {
	background-color: var(--heliotrope-gray);
	color: var(--oxford-blue);
}

.navbarItem.chapter .inner,
.navbarItem.pinned .inner {
	background-color: transparent;
	color: var(--fg);

	padding: 4px 0;
	overflow: visible;
}

.navbarItem.pinned .inner .title {
	margin: 0;
	font-style: italic;
	opacity: .8;
	color: var(--heliotrope-gray)
}
.navbarItem.pinned * { cursor: default !important; }

.navbarItem .title {
	vertical-align: top;
	margin-left: 8px;
	margin-top: 3px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: calc(100% - 32px);
}
.navbarItem.chapter .title { margin-top: 1px; }

.navbarItem.chapter .chapterChildren {
	transition-property: height;
	transition-duration: .3s;

	overflow: hidden;
}

.navbarItem.chapter.childrenCollapsed > .chapterChildren { height: 0; }
.navbarItem.chapter > .chapterChildren { height: var(--children-height); }

.navbarItem .inner,
.navbarItem .icon,
.navbarItem .icon .collapseIcon {
	height: 24px;
}

.navbarItem > div > svg { vertical-align: super; }

@media (prefers-color-scheme: light) {
	.navbarItem .inner { background-color: var(--heliotrope-gray); }
	.mobileNav .button.small { background-color: var(--cyan-process) !important; }

	.navbarItem.active .inner,
	.navbarItem.link:hover .inner {
		color: var(--bg);
		background-color: var(--fg);
	}

	.navbarItem.pinned .inner .title {
		opacity: .6;
		color: var(--oxford-blue)
	}
}

.mobileNav {
	width: 48px;
	text-align: center;
	line-height: 0;
}

.mobileNav .button:last-child {
	margin-bottom: 0;
}

.mobileNav .button {
	padding: 12px;
	background-color: var(--fire-opal);
	display: inline-block !important;
	min-width: 0;
	border-radius: 24px;
	margin: 0;
	box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 25%);

	width: 24px;
	height: 24px;
	position: relative;
}

.mobileNav .button > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: currentColor !important;
}

.mobileNav .button.small {
	padding: 6px;
	background-color: var(--purple-navy);
	margin-bottom: 12px;

	opacity: 0;
	transition: opacity .3s;
}

.mobileNav.open .button.small {
	opacity: 1;
}
