.navbarItem {
	display: block;

	background-color: var(--oxford-blue);
	color: var(--almond);

	text-decoration: none;

	padding: 8px;
	border-radius: 8px;
	margin-bottom: 12px;

	transition-property: background-color, color;
	transition-duration: .15s;
}

.navbarItem.active,
.navbarItem:hover {
	background-color: var(--heliotrope-gray);
	color: var(--oxford-blue);
}

.navbarItem span {
	vertical-align: super;
	line-height: 0;
	margin-left: 8px;
}

.navbarItem > div {
	height: 24px;
}
