.searchBar {
	background-color: var(--heliotrope-gray);
	border-radius: 8px;
	padding: 12px;
	margin-bottom: 24px;
}

.searchBar .input {
	background-color: transparent;
	border: 0;

	color: var(--bg);

	margin-left: 12px;
	width: calc(100% - 48px - 12px);
	padding: 14px 0;

	vertical-align: top;

	font-family: "Inter", sans-serif;
	font-size: 16px;
}

.searchBar .input::placeholder {
	font-style: italic;
	opacity: .75;

	color: var(--bg);
}

.searchBar .button {
	margin: 0;
	display: inline-block !important;
	line-height: 0;
	min-width: unset;
	background-color: var(--bg);
	color: var(--heliotrope-gray) !important;
}

.searchResults .post::after {
	display: none;
}

.searchResults .post {
	display: block;
	border-radius: 8px;

	padding: 12px;
	margin-bottom: 12px;
	background-color: var(--oxford-blue);

	color: var(--fg);
}

.searchResults .post .title,
.searchResults .post .subtitle,
.searchResults .post .authordate {
	margin: 4px 0;
}

.searchResults .post .authordate {
	font-style: italic;
	opacity: .75;
}

@media (prefers-color-scheme: light) {
	.searchBar { background-color: var(--fg); }
	.searchBar .button { color: var(--fg) !important; }

	.searchResults .post { background-color: var(--heliotrope-gray); }
}

