.tags {
	margin-top: 6px;
}

.tags .tag {
	--tag-color: hsl(var(--tag-hue), 75%, 70%);

	padding: 4px 12px;
	border-radius: 999px;

	text-decoration: none;
	color: var(--fg);

	box-shadow: inset 0 0 0 2px var(--tag-color);

	position: relative;
	z-index: 1;

	margin-top: 6px;
}

@media (prefers-color-scheme: light) {
	.tags .tag {
		--tag-color: hsl(var(--tag-hue), 50%, 40%);
	}
}

.tags .tag::after { display: none; }

.tags .tag::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	border-radius: 999px;
	background-color: var(--tag-color);
	opacity: .25;
}

.tags > * { margin-right: 6px; }
